<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static  'css/home.css' %}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-image: url('{% static  'img/background-image1.jpg' %}');"> 
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static  'img/logo1.png' %}" class="d-inline-block align-top" alt="">
            </a>
            <div class="logo"><p>boTAI</p></div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="icon-link"> Ahmet Dere
                            <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sidenav -->
    <div class="sidenav">
        <div class="sidenav-header">
          <a href="#" class="icon-link"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg>NEW CHAT</a>
        </div>
        <h4>Chat history</h4>
        <div class="line"></div>
        <ul>
            <div class="row"><li><a href="#">What is the AI?</a><div class="row"><span>1 hour ago</span></div></li></div>
            <div class="row"><li><a href="#">How can install vs code?</a><div class="row"><span>three days ago</span></div></li></div>
            <!-- ... Diğer chat geçmişi maddeleri ... -->
        </ul>
        <div class="logout-button">
            <button id="logoutBtn" class="btn">Logout
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                 <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                 <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
            </button>
        </div>
    </div>
     
    <!-- chat container-->
    <div class="chat-container">
        <div class="message-container">
            <div class="row">
                <div class="col">
                    <div class="message">
                        <p>User : How are you?</p>
                    </div>
                    <div class="message">
                        <p>boTAI: I'm good.?</p>
                    </div>
                    {% if messages %}
                    {% for msg in messages%}
                    <div class="message">
                        <p>{{ msg }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <!-- Yeni mesajları buraya ekleyebilirsiniz -->
                </div>
            </div>
        </div>
    </div>

    <form action="{% url 'chatbot_app:handlePrompt' %}" method="POST" >
        {% csrf_token %}
        <div class="input-container">
            <!-- Giriş kutucuğu -->
         <div class="input-group">
             <input type="text" class="form-control" name="user_prompt" value="" placeholder="ask something to me">
             <div class="input-group-append">

                 <button class="btn" type="handlePrompt" name="user_prompt_form" value="user_prompt_ready">
                 <div class="btn-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                         <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                     </svg>
                 </div>
                 </button>
             </div>
         </div>
     </div>
    </form>
    
    
    
    <script src="{% static 'js/home.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>