<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Register</title>
    <link rel="stylesheet" href="{% static  'css/styles.css' %}">
</head>
<body>
    <div class="main" style="background-image: url('{% static  'img/tai.jpg' %}');">
        <div class="logo-container">
            <img src="{% static  'img/logo_w.png' %}" alt="Logo" class="logo"><p class="logo-text">boTAI</p>
        </div>
        <div class="form-box">
            <div class="button-box">
                <div id = btn></div>
                <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
            <form id="Login" class="input-group">
               <input type="text" class="input-field" placeholder="Enter username" required>
               <input type="password" class="input-field" placeholder="Enter password" required>
               <a href="#">Need help?</a>
               <button type="submit" class="submit-btn">Login</button>
            </form> 
            <form id="Register" class="input-group">
                <input type="text" class="input-field" placeholder="Enter username" required>
                <input type="email" class="input-field" placeholder="Enter e-mail" required>
                <input type="password" class="input-field" placeholder="Enter password" required>
                <a href="#">By registering, you agree to the Terms, Data Policy and Cookies Policy.</a>
                <button type="submit" class="submit-btn">Register</button>
             </form> 
        </div>
    </div>
    <script src="{% static  'js/scripts.js' %}"></script>
</body>
</html>
