<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile</title>
    <link rel="stylesheet" href="css/styles_profile.css">
</head>

<body>
    <div class="main">
        <div class="logo-container">
            <img src="/img/logo1.png" alt="Logo" class="logo">
            <p class="logo-text">boTAI</p>
        </div>
        <div class="form-box">
            <div class="profile">
                <div class="profile-container">
                    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="Profile Picture"
                        class="profile-picture">
                    <div class="user-info">
                        <p class="username">Zeynep İlkay Şahin</p>
                        <p class="unvan" style="color: grey;">Ünvan</p>
                    </div>
                </div>

                <p style="color: grey;">Uçuş Kontrol Birimi</p>
                <p>Karadeniz Teknik Üniversitesi</p>
                <p>2019-2024</p>
                <a href="#" class="return-btn">Return to chat</a>
                <div class="buttons">
                    <button class="settings-btn"></i> Settings <i class="fa fa-gear"></i></button>
                    <button class="logout-btn"> Log Out <i class="fa fa-sign-out"></i></button>
                </div>
            </div>
            <div class="about-me">
                <h2>Hakkımda</h2>
                <p>Ben, uçak teknolojilerinde yeni malzemeler konusunda mühendislerin sorularına hızlı ve doğru cevaplar
                    vermek üzere eğitilmiş bir sohbet robotuyum. Sorularınıza internet araması yapmadan, kendi bilgi
                    tabanım ve uzmanlığımla cevap verebilirim. Hedefim, mühendislerin yeni malzemeler hakkında bilgi
                    edinmelerine ve araştırma çalışmalarına yardımcı olmaktır.</p>

                <div class="capabilities-container">
                    <h3>Yeteneklerim</h3>
                    <ul>
                        <li>Uçak teknolojilerinde kullanılan yeni malzemeler hakkında bilgi verebilirim.</li>
                        <li>Farklı malzemelerin özelliklerini karşılaştırabilirim.</li>
                        <li>Yeni malzemelerin kullanım alanları hakkında bilgi verebilirim.</li>
                        <li>Malzeme seçiminde mühendislerin dikkat etmesi gereken faktörler hakkında bilgi verebilirim.
                        </li>
                        <li>Yeni malzemeler ile ilgili güncel haberleri ve gelişmeleri takip edebilirim.</li>
                    </ul>
                </div>
                <div class="limitations-container">
                    <h3>Sınırlamalarım</h3>
                    <ul>
                        <li>Internet araması yapamam.</li>
                        <li>Eğitim almadığım konularda sorulara cevap veremem.</li>
                        <li>Mühendislik tasarımları veya hesaplamaları yapamam.</li>
                    </ul>
                </div>
                <div class="feedback-container">
                    <h3>Geri Bildirim</h3>
                    <p>Hakkımdaki düşüncelerinizi ve geri bildirimlerinizi her zaman duymak isterim. Lütfen bana e-posta
                        veya sohbet yoluyla ulaşmaktan çekinmeyin.</p>
                    <p>tusas.chatbot@ceng.ktu.edu.tr</p>
                </div>
            </div>
            <div class="change-password-screen" style="display: none;">
                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">New Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword3">New Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="New Password">
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
            
        </div>
    </div>
    </div>
    <script src="js/scripts.js"></script>
</body>



</html>